We will be working with a dataset based on housing prices in Ames, Iowa. This version of the dataset has some missing values filled for convenience. 

#### Predictor 
* SalePrice: the property's sale price in dollars 

#### Features 
* a lot of features

In [2]:
from __future__ import print_function 
import os 
data_path = ['C:/Users/japor/Desktop/Machine Learning 501 Nervana/Intel-ML101-Class3/data']

### Question 1 
* Import the data using Pandas and examine the shape. There are 79 features columns plus the predictor, the sale price (SalePrice). 
* There are three different types: integers (int64), floats(float64), and strings (object, categoricals).  Examine how many there are of each data type.

In [83]:
# Q1a - Import the data 
import pandas as pd 
import numpy as np

filepath = os.sep.join(data_path + ['Ames_Housing_Sales.csv'])
data = pd.read_csv(filepath, sep = ',')

data.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,None,3,1Fam,TA,No,706.0,0.0,...,0.0,Pave,8,856.0,AllPub,0.0,2003,2003,2008,208500.0
1,1262.0,0.0,0.0,None,3,1Fam,TA,Gd,978.0,0.0,...,0.0,Pave,6,1262.0,AllPub,298.0,1976,1976,2007,181500.0
2,920.0,866.0,0.0,None,3,1Fam,TA,Mn,486.0,0.0,...,0.0,Pave,6,920.0,AllPub,0.0,2001,2002,2008,223500.0
3,961.0,756.0,0.0,None,3,1Fam,Gd,No,216.0,0.0,...,0.0,Pave,7,756.0,AllPub,0.0,1915,1970,2006,140000.0
4,1145.0,1053.0,0.0,None,4,1Fam,TA,Av,655.0,0.0,...,0.0,Pave,9,1145.0,AllPub,192.0,2000,2000,2008,250000.0

In [60]:
# Returns counts of each data type 
data.dtypes.value_counts()

object     43
float64    21
int64      16
dtype: int64

In [59]:
data.shape

(1379, 80)

### Question 2 
Determine how many total features would be present, relative to what currently exists, if all string (object) features are one-hot encoded. Recall that the total number of one-hot encoded columns is n-1, where n is the number of categories

In [107]:
# Q2a - number of features that would be present if all string (object) 
# features are one-hot encoded 

# Select the columns that are type object (ie. string)
mask = data.dtypes == np.object
categorical_cols = data.columns[mask]
print(len(categorical_cols))

data[categorical_cols].head()

43

,Alley,BldgType,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,BsmtQual,CentralAir,Condition1,Condition2,...,MiscFeature,Neighborhood,PavedDrive,PoolQC,RoofMatl,RoofStyle,SaleCondition,SaleType,Street,Utilities
0,None,1Fam,TA,No,GLQ,Unf,Gd,Y,Norm,Norm,...,None,CollgCr,Y,None,CompShg,Gable,Normal,WD,Pave,AllPub
1,None,1Fam,TA,Gd,ALQ,Unf,Gd,Y,Feedr,Norm,...,None,Veenker,Y,None,CompShg,Gable,Normal,WD,Pave,AllPub
2,None,1Fam,TA,Mn,GLQ,Unf,Gd,Y,Norm,Norm,...,None,CollgCr,Y,None,CompShg,Gable,Normal,WD,Pave,AllPub
3,None,1Fam,Gd,No,ALQ,Unf,TA,Y,Norm,Norm,...,None,Crawfor,Y,None,CompShg,Gable,Abnorml,WD,Pave,AllPub
4,None,1Fam,TA,Av,GLQ,Unf,Gd,Y,Norm,Norm,...,None,NoRidge,Y,None,CompShg,Gable,Normal,WD,Pave,AllPub

In [157]:
# Determine how many extra columns 
num_ohc_cols = (data[categorical_cols]
                .apply(lambda x: x.nunique())
                .sort_values(ascending = False))

# No need to enode if there is only one value 
small_num_ohc_cols = num_ohc_cols.loc[num_ohc_cols>1]

# subtract 1 category from every column b/c number of one-hot 
# is n-1 (one less than number of categories)
small_num_ohc_cols -= 1 

small_num_ohc_cols.sum() # 215 categories

215

### Question 3 
Let's create a new data set where all the above categorical features will be one-hot encoded. We can fit this data and see how it affects the results. 
* Use the dataframe `.copy()` method to create a completely separate a completely separate copy of the dataframe for one-hot encoding 
* On this new dataframe, one-hot encode each of the appropriate columns and add it back to the dataframe. Be sure to drop the original column. 
* For the data that are not one-hot encoded, drop the columns that are string categoricals. 

For the first step, numerically encoding the string categoricals, either Scikit-learn's `LabelEncoder` or `DictVectorizer` can be used. However, the former is probably easier since it doesn't require specifying a numerical value for each cateogory, and we are oging to one-hot encode all the numerical values anyway.