## Naive Bayes

### Introduction
We will start by working on Iris Dataset.

In [12]:
from __future__ import print_function 
import os 

data_path = ['C:/Users/japor/Desktop/Machine Learning 501 Nervana/Intel-ML101-Class6/data']

### Question 1 
* Load Iris dataset
* Take a quick look at the data types
* Look at the skew values and decide if any transformations need to be applied. Use skew value 0.75 as a threshold. 
* Use `sns.pairplot` to plot the pairwise correlations and histograms. Use `hue = 'species'` as a keyword argument in order to see the distribution of species

In [15]:
import pandas as pd 
import numpy as np 

filepath = os.sep.join(data_path + ['Iris_Data.csv'])
print (filepath)

data = pd.read_csv(filepath)
data.head()

C:/Users/japor/Desktop/Machine Learning 501 Nervana/Intel-ML101-Class6/data\Iris_Data.csv

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object